* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
#bar {
    display: none;
}
#index {
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.nav {
    margin-left: 200px;
}
.nav ul li{
    position: relative;
    float: left;
    display: flex;
    padding: 30px;
    
}
.nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.nav ul li a:hover {
    text-decoration: underline;
    transition: 1s ease-in-out;
}
.logo h1 {
    cursor: pointer;
    font-size: 56px;
    color: white;
    margin-left: 20px;
}
.logo h1:hover{

    color: rgba(255,255,255,0.6);
    transition: 0.5s ease-in-out;
}
.banner {
    display: flex;
}
.icerik {
    height: 500px;
    border-radius: 36px;
    backdrop-filter: blur(5px);
    margin: auto;
    align-items: center;
    text-align: center;
    width: 50%;
}
.icerik h1 {
    box-sizing: border-box;
    font-size: 56px;
    color: white;
    font-weight: 600;
    
}
.icerik h2 {
    padding: 20px;
    font-size: 36px;
    color: white;
    font-weight: 400;
}
.icerik p {
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: 300;
    word-wrap: break-word;
}
.icerik .btn input{
    padding: 10px;
    background: transparent;
    font-size: 24px;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
    cursor: pointer; 
    outline: none;
}.icerik .btn input:hover {
    border: none;
    color: black;
    background: white;
    transition: 1s ease-in-out;
}
#fullmenu {
    display: none;
    background-color: black;
    width:100%;
    height: 100vh;
    position: relative;
}
.menu{
    margin: 0;
    padding: 0;


}
.menu-dikey {
  position: absolute;
  left: 100px;
  top: 100px;
}
.menu ul {
    position: absolute;
    top: 50px;
    list-style: none;
}
.menu ul li a{ 
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 56px;
    font-weight: 100;
}
    .menu ul li a:hover{
        text-decoration: underline;
        transition: 1s;
    }
    .fullmenu {
        position: relative;
    }
    #bar:hover{
        color: rgba(255,255,255,0.6);
        transition: 0.5s ease-in-out;
    }




/* RESPONSİVE */

@media screen and (min-width: 0px) and (max-width: 767px) {

    #bar {
        display: inline;
        position: absolute;
        left: 400px;
        top: 25px;
        font-size: 24px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .menu-dikey {
        position: absolute;
        left: 100px;
        top: 100px;
      }

    #index {
        height: 100vh;
        

    }
    .logo h1 {
        font-size: 56px;
    }

    .nav {
        display: none;
    }
    .icerik {
        margin-top: -5px;
        width: 80%;
    }
    .icerik h1 {
        display: inline;
        font-size: 24px;
    }
    .icerik p {
        font-size: 18px;
    }
    .icerik h2 {
        font-size: 24px;
    }
    .icerik input {
        padding: 8px;
        font-size: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .menu-dikey {
        position: absolute;
        left: 400px;
        top: 100px;
      }
    
    #bar {
        display: inline;
        position: absolute;
        left: 700px;
        top: 25px;
        font-size: 24px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    
    #index {
        height: 100vh;
    }
    .nav {
        display: none;
    }
.icerik {
    width: 80%;
    }
}
@media screen and (min-width: 1200px) {
    #bar {
        position: absolute;
        left: 1200px;
        top: 25px;
        font-size: 24px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
    ::-webkit-scrollbar 
{
    display: none;
    visibility: hidden;
    opacity: 0
}