* {
    margin: 0px;
    padding: 0;
}
.container {
    margin-top: 50px;
    margin-left: 50px;
}
.container .baslik h1{
    color: #05a843;
    font-size: 54px;
    font-weight: bold;

}
.container .baslik h2 {
    display: inline;
    color: black;
    font-size: 36px;
    font-weight: lighter;
    
}
.container .ozellik h3 {
    float: left;
    color: #05a843;
}
.sagicerik .border {
    border-top: 5px solid #05a843;
    width: 31px;
    
}
.sagicerik .baslik h2 {
    color: #05a843;
}
.sagicerik {
    top: 170px;
    left: 600px;
    position: absolute;
    width: 600px;
    word-wrap: break-word;
    
}
.sagicerik .par p {
    margin-top: 25px;
    margin-bottom: 25px;
}